
{% extends '/layouts/default.twig' %}

<h3>Каталог товаров</h3>

{% block content %}
<h3>блок</h3>
    <ul>
        {% for elem in shop %}
            <li>
                <a href="shop/{{ elem.id }}" >{{ elem.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}