
{% extends '/layouts/default.twig' %}

{% block content %}
    <ul>
        {% for elem in shop %}
            <li>
                <a href="shop/{{ elem.id }}" >{{ elem.name }}</a>
            </li>
        {% endfor %}
    </ul>
<h3>Индекс ТВИГГ</h3>
{% endblock %}