{% extends '/layouts/default.twig' %}

{% block content %}

    <h2>HomeController@index</h2>

    <a href="/registration" class="list-group-item list-group-item-action list-group-item-info">>Регистрация</a>

{% endblock %}