<h3> One picture </h3>
<a href="index.php" style="display: block; margin-bottom: 10px; text-decoration: none">Убрать картинку</a>
{% for im in imgs %}
    <img src="{{ im.url }}" alt="{{ im.name }}" name="{{ im.name }}" style="max-width: 75%;">
{% endfor %}

