{% extends '/layouts/default.twig' %}

{% block content %}
    <div class="card text-center">
        <h2>Welcome {{ name }}.</h2>
        Вы недавно смотрели:
        <ul class="list-group container">
            {% for elem in uri %}
                <li class="list-group-item list-group-item-action list-group-item-info">{{ elem }}</li>
            {% endfor %}
        </ul>
        <div class="container"><a href="/" class=" btn btn-danger">Выход</a></div>

    </div>
{% endblock %}